# Environments para ocultar
.env
**/.env
*.env


# SA para ocultar
sa-gcp-ds-mvp.json
**/sa-gcp-ds-mvp.json
*sa-gcp-ds-mvp.json


# DS Store Mac file
.DS_Store
**/DS_Store
*DS_Store


# checkpoints
.ipynb_checkpoints
**/.ipynb_checkpoints
*.ipynb_checkpoints

# pycache
__pycache__
**/__pycache__
*__pycache__

